	
.update-date {
	font-size:.7em;
	color:#aaaaaa;
}
.update-text {
	font-size: .8em;
	color:#424242;
	font-weight: 500;
	margin-bottom:1.5em !important;
}
.update-title{
	font-size: .9em;
	color:white;
	background-color: #60a65e;
	display: inline-block;	
	padding: 3px 10px;
	margin: 4px 0px;
	font-weight: 600;
}

.footer-social-container {
	text-align:center;
	margin-top:10px;
	padding-top:10px;
	font-size:.8em;
}

.footer-text {
	text-align:center;
	margin-top:30px;
	padding-top:10px;
	font-size:.8em;
}

.wide-background {
	position:fixed;
	left:0px
	top:0px;
	background: linear-gradient(
    to right, 
    #ffffff 0%, 
    #ffffff 40%, 
    #f7f7f7 40%, 
    #f7f7f7 100%
  );
  height: 100%;
  width: 100%;

}

.gray-background {
	content:"";
    background-color:#f7f7f7;
}

.logo-container {
	padding-top:10px;
	padding-bottom: 6px;
	width:75%;
}

.navbar-toggler-icon {
	color: white;
}

.nav-link {
	color: white !important;
	font-size:1.8em;
}

.footer-social {
	padding-left:10px;
	color:#424242;
	font-size:2em;
}

.footer-social:hover {
	color:#60a65e;
}

#copyright {
	position: relative;
	top:-5px;
	font-size:.8em;
	color:#424242;
}
#copyright-mobile {
	display:none;
}
.disabled {
	color: #9edf9c !important;
	font-size:.8em !important;
	padding-top:1.8em;
}

.hamburger-menu {
	color: #9edf9c;
	font-size:1.2em;	
}
#going-logo {
	width:109px;
	padding:0px;
	margin:0px;
}
#going-tagline {
	color: #9edf9c;
	padding:0px;
	margin:0px;
	font-weight: bolder;
	font-size: .8em;
	top:-4px;
	position: relative;
}

.navbar {
	padding-top:10px;
	padding-bottom:10px;
	margin:0px;
	background-color: #60a65e;
}

body {
  font-family: 'Open Sans', sans-serif;
	color: #242424;
}

a {
	color: #60a65e;
}

.social {
	color :#424242 !important;
	font-size:1.2em;
	padding-right: 7px;
}

.social:hover {
	color :#277067 !important;
}


#revue-embed {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	padding:15px  25px;
	font-size:.75em;
	background-color:#fdeb97;
	border: 1px solid #424242;
	border-radius:8px;
}
.revue-form-field {
	width:100%;
	padding: 7px 12px;
	font-size:.75em;
	margin-bottom:5px;
	margin-top:5px;
}

.subscribe-button-container {
	width:100% !important;
	text-align:right;
	margin-bottom:50px;
}

#member_submit {
	background-color:#2b5a61;
	padding: 7px 15px;
	color: white;
	border: none;
    text-decoration: none;
    font-size: .8em;
    border-radius: 3px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#member_submit:hover {
    background-color: #424242;
    color: white;	
}


.bitcoin-donation {
	width:100%;
	font-size:.4em;
	color:#999999;
	text-align: center;
}
.bitcoin-donation img {
	width:50%;
}
#bitcoin-donation-header {
	text-align: center;
	font-size:.8em;
}

.body-title {
	padding-top: 1.25em;
	font-size: 1.25em;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-weight:bolder;
}

.body-message {
	padding-top:2em;
}

.mailing-list-header {
	font-size:1.25em;
	padding-top:10px;
	padding-bottom:10px;
}

.email p {
	font-size:.5em;
}
.footer-container {
	padding-top:4em;
	font-size:.75em;
}

.my-4 p, a {
	padding:0;
	margin:0;
}
.my-4 {
	margin: 0px 40px 0px 0px;
}


.left-nav h2 {
	color: #424242;
	padding:30px 0px 3px 0px;
	margin:0px;
	font-weight: bolder;
	font-size: .8em;
}

.left-nav p {
	font-size:.75em;
	color:#999999;
}

.mobile-share {
	display:none;
}



@media (max-width: 980px) {	
	body {
		color: #242424;
		background-color: white !important;
	}

	.navbar-nav, .nav-link, .nav-item {
		display: inline !important;
	}
	.nav-item {
		padding-right: 10px;
	}

	.update-date {
		font-size:.7em;
	}
	.update-text {
		font-size: .8em;
	}
	.update-title{
		font-size: .8em;
		font-weight: 400;
	}

	#copyright {
		display:none;	}
	#copyright-mobile {
		text-align: center;
		display:block;
		font-size:.7em;
	}
	.follow-us {
		position:relative;
		top:-6px;
		font-size:.8em !important;
	}
	.body-message {
		padding-top:0em;
	}	
	#navbarSupportedContent {
		border-top: 1px solid #9edf9c;
	}

	.wide-background {
		display:none;
	}

	#member_submit {
		width: 100%;
		margin-bottom:25px;
	}

	#revue-embed {
		font-size:.75em;
	}	
	.mailing-list-header {
		font-size:1.25em !important;
	}	
	.mobile-share, .update {
		display:block;
		padding-right:25px;
		padding-left:25px;

	}
	.mobile-share {
		padding-top: 15px;
		background-color:#f7f7f7;
		margin-bottom:10px;
	}

	.bitcoin-donation {
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		width:100%;
	}
	.bitcoin-donation img {
		width:50%;
		text-align:center;
	}	
	.mobile-share h3 {
		font-size:.9em;
		padding-top:.25em;
		font-weight:bolder;
	}
	.mobile-share p {
		padding:0px;
		margin: 0px 0px 10px 0px;
		font-size:.75em;

	}
	.mobile-social {
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	.mobile-qr-code {
		width:100px;
	}
	.left-nav {
		display: none;
	}
	.logo-image {
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		margin-bottom:0 !important;
		margin-top:0 !important;
	}
	.body-background {
		padding:0px;
		margin:0px;
		background-color:white;
	}
	.gray-background {
		background-color:white;
	}

	.body-title-wrapper p {
		font-size:.75em;
		padding-top:10px;
	}

	.body-title {
		width:75%;
		padding:0px;
		font-weight: bolder;
	}
	.my-4 {
		padding:0px;
		margin:0px;
		margin-top:.75em !important;
	}

	.footer-container {
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		font-size:.6em
	}

	.body-title-wrapper p {
		font-size:.75em;
		padding-top:10px;
	}

	.body-title {
		width:75%;
		padding:0px;
		font-weight: bolder;
	}
	.social {	
		font-size:4em !important;
		padding-right:10px;
		padding-left:10px;
		color: #60a65e !important;
	}
}